<% @title="About" %>
<section class="content row">
	<h1>ABOUT US</h1>
	<div class="medium-9 large-9 columns text">
		<div class="row">

			<a href="founders" class="founders_button right">
				<h3>Read about our</h3>
				<h4>FOUNDERS</h4>
			</a>
			<p>Scratchtown Brewing Company is one of Nebraska's newest breweries. Quality craft beer is our passion. We take pride in using four simple ingredients (water, malt, hops and yeast) to make complex and delicious beers.</p>
			<p>Nestled in the scenic North Loup River Valley, Scratchtown Brewing Company brews and serves a variety of handcrafted, local beer that prides itself on simplicity and Nebraska Sandhills water.</p>
			<p>The rich Central European heritage of our area gives us inspiration to craft, serve and share high-quality beer. Our mission is to craft a local beer culture that celebrates the wonderful variety of beers while building a viable industry in rural Nebraska.</p>
			<p>Join us as we brew up a new tradition in the Nebraska Sandhills.</p>
			<p>"A fine beer may be judged with only one sip, but it&#39;s better to be thoroughly sure."<br />
			~ Czech Proverb</p>
			<p><a href="/">Back Home</a></p>
		</div>
	</div>

	<div class="medium-3 large-3 columns text">
		<div class="row">
			<img class="beerImage" src="img/beerCup200.png" alt="Beer Image Image" title="Scratchtown Beer" width="200px" height="300px" />
		</div>
	</div>
	
</section>