<% @title="Beers" %>
<section class="content row">
	<h1>Beers We've Brewed</h1>
	<div class="large-12 columns text">
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Aviatrix – Peach Wheat Ale</h2>
				<div class="left">5.7% ABV</div>	
				<div class="left">$3.50/12 oz.</div>	
				<div class="left">$14/Growler Fill</div>
				<p>A light, crisp wheat beer crafted with citrusy hops.  We then added 8 pounds of peach per barrel to add a subtle yet refreshing peach presence.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Black Eye – Imperial Porter</h2>
				<div class="left">8.5% ABV</div>	
				<div class="left">$4/12 oz.</div>	
				<div class="left">$16/Growler Fill</div>
				<p>Creamy and chocolaty, with hints of coffee.  A rich malty body and subtle roasted flavors round out this beer inspired by the strong, dark brews exported from Great Britain to Eastern Europe in the 18th & 19th centuries.</p>
			</div>
			<div class="medium-4 large-4 columns">
				<img src="img/imperialPorter.jpg" alt="Black Eye - Imperial Porter Image" title="Black Eye - Imperial Porter">
			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Bumble Buzz’d – Honey Nut Brown Ale</h2>
				<div class="left">5.9% ABV</div>	
				<div class="left">$3/12 oz.</div>	
				<div class="left">$12/Growler Fill</div>
				<p>Our selection of malt gives this smooth medium-bodied brown ale a hint of nutty flavor.  Locally produced “EZ Honey” from Burwell, Nebraska was added at the end of the fermentation process to impart a distinctive sweet character that is very refreshing.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Hot Iron – American Wheat Ale</h2>
				<div class="left">4.6% ABV</div>	
				<div class="left">$3/12 oz.</div>	
				<div class="left">$12/Growler Fill</div>
				<p>A classic American wheat beer, unfiltered, and bursting with citrus hop aroma and flavor, with a low bitterness.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Sandhills Gold - Bohemian Blonde Ale</h2>
				<div class="left">4.5% ABV</div>	
				<div class="left">$3/16 oz.</div>	
				<div class="left">$12/Growler Fill</div>
				<p>Our hybrid of a traditional Czech Pilsner and a Blonde ale is full bodied and robust in flavor.  Pale gold and clear with a malty backbone, this beer is delicately balanced with floral Czech hops.</p>
			</div>
			<div class="medium-4 large-4 columns">
				<img src="img/bohemianBlonde.jpg" alt="Sandhills Gold Bohemian Blonde Ale Image" title="Sandhills Gold - Bohemian Blonde Ale">
			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Sideburns’ – Milk Stout</h2>
				<div class="left">5.3% ABV</div>	
				<div class="left">$3/16 oz.</div>	
				<div class="left">$12/Growler Fill</div>
				<p>A roasty stout with a nice body from the addition of Lactose Sugar.  The Lactose Sugar, derived from milk, is not fermented by brewer’s yeast and it adds a creaminess and slight sweetness to the beer.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Sinister Grin – Chardonnay-Oak Aged Belgian Golden Strong Ale</h2>
				<div class="left">10.1% ABV</div>	
				<div class="left">$5/12 oz.</div>	
				<div class="left">*NO GROWLER FILLS*</div>
				<p>Hopped late with a heavy dose of New Zealand Nelson Sauvin hops that impart a white wine fruitiness.  The base beer has a fruit character with hints of pear and moderate spiciness derived from the Belgian yeast strain used.  It is then aged on a mix of French oak chips soaked in chardonnay post-fermentation to simulate barrel aging.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
		
		<div class="row beer">
			<div class="small-12 medium-8 large-8 columns">
				<h2>Sweet Spot – American Pale Ale</h2>
				<div class="left">4.8% ABV</div>	
				<div class="left">$3.50/16 oz.</div>	
				<div class="left">$14/Growler Fill</div>
				<p>Perfectly balancing a toasty malt backbone with citrusy American hops.  We’ve used the classic Cascade and Columbus hop varieties to impart their signature piney and citrus character, with hints of grapefruit and earthiness, rounding out a pleasant bitterness.  The Cascade hops were locally grown.</p>
			</div>
			<div class="medium-4 large-4 columns">

			</div>
		</div>
			<p><a href="/">Back Home</a></p>
		</div>
	</div>
</section>