<% @title="Founders" %>
<section class="content row">
	<h1>Founders</h1>
	<div class="large-12 columns text">
		<div class="row">

			<div class="founder">
				<img class="right" src="img/founders500.jpg" alt="Ground Breaking Ceremony Image" title="Ground Breaking Ceremony" width="500px" height="333px" />
				<h2>Jade Stunkel - Owner - General Manger</h2>
				<a href="mailto:jade@scratchtownbrewingcompany.com" />jade@scratchtownbrewingcompany.com</a>
				<p>Jade Stunkel was born and raised in Ansley, NE. After graduation from high school, Jade pursued and graduated from Southeast Community College - Milford with a Bachelors of Science degree in Electrical Technology in 1999. In 2001, Jade moved to Ord and began work with Frontier Communications as a sales and service technician. Jade also began a heavy equip operations and land development/acquisition business shortly thereafter. Jade is both the sole-proprietor and partner of several land acquisition and development efforts in Central Nebraska.</p>
				<p>Jade is passionate about Ord and the rural Nebraska way of life. He currently serves as an Ord City Councilman and is a member of a local young leaders group called Loup Valley LEAD. Jade works tirelessly to serve the community of Ord in both word and deed. Jade believes in capitalism as the fundamental driver of liberty and freedom in the United States and wishes to use Scratchtown Brewing Company as a vehicle for both personal and community wealth creation.</p>
				<p>Jade brings technical skill, property development expertise and a tireless work ethic to the Scratchtown Brewing Company endeavor.</p>
				<p>Jade lives in Ord with his wife Michelle, son Barron and daughter Brynley.</p>
				</div>

			<div class="founder">
				<h2>Mike Klimek - Owner - Chief Brewing Officer</h2>
				<a href="mailto:mike@scratchtownbrewingcompany.com" />mike@scratchtownbrewingcompany.com</a>
				<p>Mike Klimek was born and raised in Ord. Mike is a graduate of the University of Nebraska-Kearney and has experience in the financial services sector with extensive work with First National Bank of Omaha in their bank and credit card processing center. After living and working with his wife Julie in Omaha, they decided to move back to Ord in 2011.</p>
				<p>Mike started homebrewing in 2005. Mike expanded his homebrew operation in 2007 and moved to all-grain brewing after 10 batches of homebrewing with pre-organized brewing kits. Since his experiment in 2005, Mike&#39;s homebrewed beers have won numerous awards in local, statewide and national competitions.</p>
				<p>Mike is passionate about drinking and brewing great beer and wants to bring the craft brewing culture to Central Nebraska. Mike has extensive experience in homebrewing and has self-taught himself the craft of craft brewing.</p>
				<p>Awards:
					<ul>
						<li>2006 NE State Fair &ndash; 3rd, American Pale Ale</li>
						<li>2007 NE State Fair &ndash; 3rd, Vanilla Porter</li>
						<li>2008 NE State Fair &ndash; 1st, American IPA (Amarillo IPA)</li>
						<li>2008 NE State Fair &ndash; 2nd, American IPA (Rye IPA)</li>
						<li>2008 River City Roundup &ndash; 1st, American IPA, also 3rd Best Of Show (Amarillo IPA)</li>
						<li>2008 River City Roundup &ndash; 1st, Specialty Beer (Rye IPA)</li>
						<li>2009 National Homebrew Competition &ndash; Silver Certificate, Bourbon Barrel Porter</li>
						<li>2009 NE State Fair &ndash; 1st, Specialty Beer (Bourbon Barrel Porter)</li>
						<li>2009 River City Roundup &ndash; 2nd, Wood Aged Beer (Bourbon Barrel Porter)</li>
						<li>2010 Brix Homebrew Competition &ndash; 2nd, People&#39;s Choice (Bourbon Barrel Porter)</li>
						<li>2010 NE State Fair &ndash; 1st, American Wheat Beer (Citra Wheat)</li>
						<li>2010 NE State Fair &ndash; 2nd, Specialty Beer (Oak Aged Chocolate Pumpkin Porter)</li>
						<li>2010 NE State Fair &ndash; 3rd, Irish Red Ale</li>
						<li>2010 NE State Fair &ndash; 3rd, American Brown Ale</li>
						<li>2010 River City Roundup &ndash; 2nd, American Wheat Beer (Citra Wheat)</li>
						<li>2010 River City Roundup &ndash; 3rd, Irish Red Ale</li>
						<li>2010 River City Roundup &ndash; 3rd, Specialty Beer (Oak Aged Chocolate Pumpkin Porter)</li>
						<li>2011 Buffalo County Fair &ndash; 2nd, American Wheat Beer</li>
						<li>2011 Buffalo County Fair &ndash; 2nd, Saison</li>
						<li>2011 River City Roundup &ndash; 3rd, American Pale Ale</li>
						<li>2012 National Homebrew Competition, Indianapolis Regional &ndash; 1st, Wood Aged Beer (Chardonnay Oak Aged Belgian Golden Strong Ale)</li>
					</ul>
				</p>
				<p>Mike resides in Ord with his wife Julie and three children: Brodie, Molly and Jaycie.</p>
			</div>

			<div class="founder">
				<h2>Caleb Pollard - Owner - Chief Mover of Units</h2>
				<a href="mailto:caleb@scratchtownbrewingcompany.com" />caleb@scratchtownbrewingcompany.com</a>
				<p>Caleb graduated with a bachelors of arts from the University of Nebraska-Lincoln and shortly thereafter went to work in the private sector for an online retailer and outdoor adventure business. Caleb was online promotions manager for 1.5 years and then went to work for National Research Corporation, a national healthcare research firm. Caleb worked in New York City, Boston, Cleveland and Pittsburgh as the lead sales and marketing contact for the company for that region.</p>
				<p>After working with NRC, Caleb left to join the Nebraska Department of Economic Development as a workforce development consultant. Caleb was the state&#39;s lead contact for industry workforce issues. Caleb then went to work for the Greater Omaha Chamber of Commerce as the lead industry contact for workforce issues in the greater Omaha region. One of his primary emphasis was marketing and branding strategy for retaining and recruiting a skilled workforce in Nebraska.</p>
				<p>In 2008, Caleb was offered the Executive Director position at Valley County Economic Development and the Ord Area Chamber of Commerce. At VCED, Caleb led a staff of 3 employees, managed an operation budget of $340,000 and administrated a $1.2 million dollar economic development fund. Working in partnership with the Board of Directors for VCED and the Chamber, the City of Ord, Valley County, Caleb has provided leadership on a phase 2 downtown redevelopment effort in Ord, a $9.8 million dollar new housing development in Ord, the investment of over a million dollars in small businesses through the local economic development fund, and a complete overhaul of the marketing and branding campaign for VCED with the launch of <a href="http://www.ordnebraska.com" target="_blank" />www.ordnebraska.com</a>, <a href="http://www.visitvalleycounty.com"  target="_blank" />www.visitvalleycounty.com</a> and <a href="http://www.shopord.com"  target="_blank" />www.shopord.com</a>.</p>
				<p>Caleb is passionate about rural living and craft beer and lives in Ord with his wife Christina and two sons Calen and Elijah.</p>
			</div>
			
				<p><a href="/">Back Home</a></p>
		</div>
	</div>
</section>