<% @title="Home" %>
<section class="content row">
	<div class="medium-7 large-6 columns">

		<div class="row">
			<div class="component">
				<h1>ABOUT</h1>
				<p>Nestled in the scenic North Loup River Valley, Scratchtown Brewing Company brews and serves a variety of handcrafted beer that prides itself on simplicity and Nebraska Sandhills water.</p>
				<a href="founders" class="founders_button">
					<h3>Read about our</h3>
					<h4>FOUNDERS</h4>
				</a>
				<p><a href="about">More</a></p>
			</div>
		</div>

		<div class="row">
			<div class="component">
				<h1>NEWS</h1>
				<a class="twitter-timeline"  href="https://twitter.com/ScratchtownBrew"  data-widget-id="431635961777111040" data-tweet-limit="5" data-chrome="noborders nofooter" data-link-color="#294D18">Tweets by @ScratchtownBrew</a>
    		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>

	</div> <!-- end column 1 -->
	
	<div class="medium-5 large-3 columns">

		<div class="row">
			<div class="component">
				<h1>SHOP</h1>
				<a href="http://shopord.com/manufacturers.php?manufacturerid=22" target="_blank"><img src="img/blacktanfront.jpg" alt="Shop Scratchtown Image" title="Shop Scratchtown"></a>
				<p><a href="http://shopord.com/manufacturers.php?manufacturerid=22" target="_blank">Shirts, Stickers, & More</a></p>
			</div>
		</div>

		<div class="row">
			<div class="component">
				<h1>CONTACT</h1>
				<p>Scratchtown Brewing Co.<br />
				141 South Sixteenth Street<br />
				Ord, Nebraska 68862<br />
				Email: <a href="mailto:caleb@scratchtownbrewingcompany.com" />Caleb</a> or
				<a href="mailto:mike@scratchtownbrewingcompany.com" />Mike</a></br />
				<a href="tel:13087285050">(308) 728-5050<br />
				</p>
				<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=Scratchtown+Brewing+Company&amp;fb=1&amp;gl=us&amp;hq=scratchtown+brewing&amp;cid=9845576456097101065&amp;t=m&amp;ll=41.602286,-98.929439&amp;spn=0.004814,0.006437&amp;z=15&amp;iwloc=near&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=Scratchtown+Brewing+Company&amp;fb=1&amp;gl=us&amp;hq=scratchtown+brewing&amp;cid=9845576456097101065&amp;t=m&amp;ll=41.602286,-98.929439&amp;spn=0.004814,0.006437&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
		</div>

	</div> <!-- end column 2 -->

	<div class="large-3 columns">

		<div class="row">
			<div class="component">
				<h1>OUR BEER</h1>
				<a href="beer"><img src="img/bohemianBlonde.jpg" alt="Sandhills Gold Czech Blonde Image" title="Sandhills Gold Czech Blonde"></a>
				<a href="beer"><img src="img/imperialPorter.jpg" alt="Black Eye Imperial Porter Image" title="Black Eye Imperial Porter"></a>
				<p><a href="beer">Entire Collection</a></p>
			</div>
		</div>

	</div> <!-- end column 3 -->

</section> <!-- end content-->